        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <link rel="icon" type="image/x-icon" href="/assets/no-photo.jpeg">
        <link rel="stylesheet" href="/styles/main.css">
        <script src="https://kit.fontawesome.com/8b15928505.js" crossorigin="anonymous" defer></script>
        <script src="/scripts/navScroll.js" defer></script>