<nav class="topnav" id="myTopnav">
    <h1 class="nav-brand"><span class="hide-brand">Fly Bin</span></h1>
    

    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/flies/new">Add Flies</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>

</nav>