
<!-- nav adapted from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp -->
<nav class="topnav" id="myTopnav">
    <h1 class="nav-brand"><span class="hide-brand"><a href="/">FlyBin</a></span></h1>
    
    <br class="break">
    <br class="break">
    <a id="home" href="/">Home</a>
    <a href="/about">About</a>
    <a href="/flies/new">Add Flies</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>

</nav>

<script defer>

    function myFunction() {
    const nav = document.querySelector("nav");
    if (nav.className === "topnav") {
        nav.className += " responsive";
    } else {
        nav.className = "topnav";
    }
    }


</script>