<nav>
    <h1 class="nav-brand"><span class="hide-brand">Fly Box</span></h1>
    
    <div class="nav-btns">
        <button class="btn"><a href="/">Home</a></button>
        <button class="btn"><a href="/about">About</a></button>
        <button class="btn"><a href="/flies/new">Add Flies</a></button>
    </div>
</nav>