
<!-- nav adapted from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp -->
<nav class="topnav responsive" id="myTopnav">
    <h1 class="nav-brand"><span class="hide-brand">FlyBin</span></h1>
    
    <br class="break">
    <br class="break">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/flies/new">Add Flies</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>

</nav>

<script defer>
    function myFunction() {
    const x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
    }
</script>