<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head.ejs", { title: `About FlyBin` }) %>
        <link rel="stylesheet" href="/styles/about.css">
    </head>
    <body>
        <%- include("./partials/nav.ejs") %>
        <h1 class="page-title">About FlyBin</h1>

        <div class="about-div">
            <img src="/assets/fly-bin.jpeg">
            <p>
                <b>Welcome to FlyBin,</b> the digital solution for fly anglers to organize and manage their fly collection.<br>

                At FlyBin, we understand the importance and challenge of maintaing a well-organized fly collection. Keeping track of successful patterns, what works and what doesn't is a critical part of bringing fish to hand. That's why we created this app, to help keep your lines tight by providing a seamless digital solution to managing your fly collection.<br><br>

                FlyBin is a user-friendly web application that allows anglers to digitally catalog and organize their fly collections. With FlyBin, anglers can easily add new flies to their collection and quickly search and sort through their inventory to find the perfect fly for any fishing scenario.<br><br>

                Our app makes it easy for anglers to keep track of important information about each fly, such as its ingredients, size, and the specific conditions where it has been most effective. Additionally, anglers can add own notes and comments to each fly, allowing them to capture their personal experience and insights.<br><br>

                At FlyBin, we believe in empowering anglers with the tools they need to maximize their fly fishing experience. Our app is accessible on any device with an internet connection, making it easy for anglers to use it from anywhere, whether at home or waist-deep.<br><br>

                Join the FlyBin community today and start organizing your fly collection like never before. We are committed to providing the best digital experience for fly anglers and we look forward to seeing you on the water.
            </p>
        </div>
        <script src="" async defer></script>
    </body>
</html>