<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/heads.ejs")%>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <%- include("./partials/nav.ejs") %>
    </body>
</html>