<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head.ejs", { title: 'Fly Box'})%>
    </head>
    <body>
        <%- include("./partials/nav.ejs")%>
        <h1> welcome </h1>
    </body>
</html>