/* variables
------------------------------------*/
$brown: #5C3A21;
$green: #556B2F;
$red: #8B3626;
$beige: #C9A376;
$orange: #A0522D;
$egg: #f0ead6;


.form-holder {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

form.not-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    label {
        padding-left: .2rem;
    }
    input, select, textarea {
        padding: 1rem .2rem;
        width: 100%;
        display: block;
        border: 1px solid $orange;
        border-radius: 10px;
    }
    button {
        width: 150px;
        padding: 1rem;
        border-radius: 50% 10%;
    }
}

@media screen and (min-width: 1024px) {
    h2 {
        padding-top: 10%;
    }
}

@media screen and (min-width: 2560px) {
    h2 {
        padding-top: 15%;
    }
}

@media screen and (min-width: 768px) {
    form {
        width: 70%;
    }
    label {
        width: 100%;
    }
}

@media screen and (min-width: 320px) {
    label {
        width: 100%;
    }
}
