.detail-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px 20px 0 20px;
    border: 1px solid gray;
    border-radius: 30px;
    width: 70%;
    
    img {
        width: 100%;
    }
    
    .d-card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        #ingredients {
            border: 1px solid lightgray;
            border-radius: 1rem;
            padding: .7rem;
        }

        th {
            text-align: right;
            padding-right: 1rem;
        }

        #qty-btns {
            display: inline-flex;
            button {
                width: 2rem;
                margin-right: 10px;
                border-radius: 50% 10%;
            }
        }

        .actions {
            display: flex;
            flex-direction: column;
            align-items: center;
            button {
                margin-top: 1rem;;
                padding: 1rem;
                border-radius: 50% 10%;
                width: 175px;
            }
            button:last-child {
                background-color: rgb(232, 71, 68);
            }
        }

        h4 {
            margin-top: 2rem;
        }

        .notes-box {
            border: 1px solid gray;
            padding: 10px;
            border-radius: 20px;
            width: 100%;
        }
    }
}