.detail-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto;
    padding: 20px 20px 0 20px;
    border: 1px solid gray;
    border-radius: 30px;
    width: 80%;
    
    img {
        width: 30%;
    }
    
    .d-card-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        
        #ingredients-div {
            width: 100%;
            // height: 100%;

            p:first-child {
                padding-left: .7rem;
            }
            
            p:last-child {
                border: 1px solid lightgray;
                border-radius: 1rem;
                padding: .7rem;
                width: 100%;
            }
        }


        #fly-table {
            width: 50%;
            th {
                text-align: right;
                padding-right: 1rem;
            }
        }


        #qty-btns {
            display: inline-flex;
            button {
                width: 2rem;
                margin-right: 10px;
                border-radius: 50% 10%;
            }
        }

        .actions {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            button {
                margin-top: 1rem;;
                padding: 1rem;
                border-radius: 50% 10%;
                width: 175px;
            }
            button:last-child {
                background-color: rgb(232, 71, 68);
            }
        }
        .line {
            width: 100%;
            border: .5px solid gray;
            margin: 1rem 0;
        }
        .notes {
            width: calc(100% + 2rem);
            
            
            p:first-of-type {
                padding-left: 1rem;
            }

            .notes-box::-webkit-scrollbar {
                width: .7em;
            }

            .notes-box::-webkit-scrollbar-track {
                margin: 1em 0;
                border-radius: 10px;
                height: 90%;
                -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
            }

            .notes-box::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5); 
            }

            .notes-box {
                border: 1px solid gray;
                padding: 10px;
                border-radius: 20px;
                width: 100%;
                overflow-y: scroll;
                height: 300px;
                font-size: .9rem;

                .single-note {
                    padding: 1em;
                    border: 1px solid lightgray;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-evenly;
                    table {
                        
                        th {
                            text-align: right;
                            
                        }
                        td {
                            padding-left: 1rem;
                            width: 125px;
                        }
                    }
                    #note-body {
                        width: 55%;
                        p:last-child {
                            border: 1px solid lightgray;
                            border-radius: 5px;
                            padding: .5rem;
                            font-size: .8rem;
                        }
                    }
    
                }
            }
            

        }

        
    }
}

/* screen responsiveness
-------------------------------------- */

@media screen and (max-width: 1024px) {
    .notes {
        width: 100vw;
    }
}

@media screen and (max-width: 768px) {
    .detail-div {
        width: 95%;
        flex-direction: column;

        img {
            width: 60%;
        }
    }

    .d-card-info {
        width: 95% !important;
        #ingredients-div {
            width: 50%;
        }
        table  {
            width: 50%;
        }
        .actions {
            width: 100%;
            flex-direction: row;
        }
    }
    
}

@media screen and (max-width: 425px) {
    .detail-div {
        width: 95%;
        margin: 0px auto;
        flex-direction: column;
        align-content: center;

        .d-card-info {
            width: 100%;
            font-size: .8rem;

            #ingredients-div {
                width: 100%;
            }

            table {
                margin-top: 1rem;
                width:100%;
                th {
                    width: 50%;
                }
            }

            .actions {
                width: 100%;
                flex-direction: column;
                justify-items: center;
                margin: 0 auto;
                button, form button {
                    width: 130px;
                    padding: .7rem;
                    font-size: .7rem;
                    a {
                    font-size: .7rem;
                    }
                }
            }

            .notes {
                h4 {
                    padding-left: .7rem;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .detail-div {
        width: 95%;
        margin: 0px auto;
        flex-direction: column;

        img {
            width: 100%;
        }

        .d-card-info {
            width: 100%;
            font-size: .8rem;

            #ingredients-div {
                width: 100%;
                p:first-child {
                    padding-left: .7rem;
                }
            }

            table {
                margin-top: 1rem;
                width: 100%;
                th {
                    width: 50%;
                }
            }

            .actions {
                flex-direction: column;
                button, form button {
                    width: 130px;
                    padding: .7rem;
                    font-size: .7rem;
                    a {
                    font-size: .7rem;
                    }
                }
            }

            .notes {
                h4 {
                    padding-left: .7rem;
                }
            }
        }
    }
}



