@charset "UTF-8";
.detail-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto;
  padding: 20px 20px 0 20px;
  border: 1px solid gray;
  border-radius: 30px;
  width: 80%;
}
.detail-div img {
  width: 30%;
}
.detail-div .d-card-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}
.detail-div .d-card-info #ingredients-div {
  width: 100%;
}
.detail-div .d-card-info #ingredients-div p:first-child {
  padding-left: 0.7rem;
}
.detail-div .d-card-info #ingredients-div p:last-child {
  border: 1px solid lightgray;
  border-radius: 1rem;
  padding: 0.7rem;
  width: 100%;
}
.detail-div .d-card-info table {
  width: 50%;
}
.detail-div .d-card-info table th {
  text-align: right;
  padding-right: 1rem;
}
.detail-div .d-card-info #qty-btns {
  display: inline-flex;
}
.detail-div .d-card-info #qty-btns button {
  width: 2rem;
  margin-right: 10px;
  border-radius: 50% 10%;
}
.detail-div .d-card-info .actions {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail-div .d-card-info .actions button {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 50% 10%;
  width: 175px;
}
.detail-div .d-card-info .actions button:last-child {
  background-color: rgb(232, 71, 68);
}
.detail-div .d-card-info .notes {
  width: calc(100% + 2rem);
}
.detail-div .d-card-info .notes h4 {
  margin-top: 1rem;
  padding-left: 0.7rem;
}
.detail-div .d-card-info .notes-box {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .detail-div {
    width: 95%;
    flex-direction: column;
  }
  .detail-div img {
    width: 70%;
  }
  .detail-div   .d-card-info {
    width: 95%;
  }
  .detail-div   .d-card-info #ingredients-div {
    width: 50%;
  }
  .detail-div   .d-card-info table {
    width: 50%;
  }
  .detail-div   .d-card-info .actions {
    width: 100%;
    flex-direction: row;
  }
}
@media screen and (max-width: 425px) {
  .detail-div {
    width: 95%;
    margin: 0px auto;
    flex-direction: column;
    align-content: center;
  }
  .detail-div .d-card-info {
    width: 100%;
    font-size: 0.8rem;
  }
  .detail-div .d-card-info #ingredients-div {
    width: 100%;
  }
  .detail-div .d-card-info table {
    margin-top: 1rem;
    width: 100%;
  }
  .detail-div .d-card-info table th {
    width: 50%;
  }
  .detail-div .d-card-info .actions {
    width: 100%;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto;
  }
  .detail-div .d-card-info .actions button, .detail-div .d-card-info .actions form button {
    width: 130px;
    padding: 0.7rem;
    font-size: 0.7rem;
  }
  .detail-div .d-card-info .actions button a, .detail-div .d-card-info .actions form button a {
    font-size: 0.7rem;
  }
  .detail-div .d-card-info .notes h4 {
    padding-left: 0.7rem;
  }
}
@media screen and (max-width: 375px) {
  .detail-div {
    width: 95%;
    margin: 0px auto;
    flex-direction: column;
  }
  .detail-div img {
    width: 100%;
  }
  .detail-div .d-card-info {
    width: 100%;
    font-size: 0.8rem;
  }
  .detail-div .d-card-info #ingredients-div {
    width: 100%;
  }
  .detail-div .d-card-info #ingredients-div p:first-child {
    padding-left: 0.7rem;
  }
  .detail-div .d-card-info table {
    margin-top: 1rem;
    width: 100%;
  }
  .detail-div .d-card-info table th {
    width: 50%;
  }
  .detail-div .d-card-info .actions {
    flex-direction: column;
  }
  .detail-div .d-card-info .actions button, .detail-div .d-card-info .actions form button {
    width: 130px;
    padding: 0.7rem;
    font-size: 0.7rem;
  }
  .detail-div .d-card-info .actions button a, .detail-div .d-card-info .actions form button a {
    font-size: 0.7rem;
  }
  .detail-div .d-card-info .notes h4 {
    padding-left: 0.7rem;
  }
}/*# sourceMappingURL=fly-detail.css.map */