/* variables
------------------------------------*/
$brown: #5C3A21;
$green: #556B2F;
$red: #8B3626;
$beige: #C9A376;
$orange: #A0522D;
$egg: #f0ead6;

.page-title {
    margin: 40px auto 30px auto !important;
    text-align: center;
}


.flies-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-items: center;
    .fly-card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid $orange;
        border-radius: 30px;
        width: 300px;
        height: 420px;
        overflow: hidden;
        img {
            height: 150px;
            top: 30px;
            position: absolute;
        }
        figcaption {
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 100%;
            h3 {
                width: 100%;
                // margin: 125px auto 30px auto;
                // margin-bottom: 50px;
                top: 200px;
                position: absolute;
            }
            .nums {
                display: flex;
                justify-content: space-evenly ;
                width: 100%;
                position: relative;
                top: 250px;
                
                #qty-btns {
                    display: flex;
                    justify-content: space-around;
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 2rem;
                        width: 2rem;
                        border-radius: 50%;
                    }
                }
            }
            #details {
                bottom: 0px;
                position: absolute;
               
            }

        }
    }
}