@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');


/* variables
------------------------------------*/
$brown: #5C3A21;
$green: #556B2F;
$red: #8B3626;
$beige: #C9A376;
$orange: #A0522D;
$egg: #f0ead6;


// reset browser defaults
* {
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: 'Hind', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
    box-sizing: border-box;
}


a:-webkit-any-link {
    text-decoration: none;
}

button, .btn {
    font-family: 'Hind', sans-serif !important;
    font-size: 1rem;
    color: white;
    background-color: $orange;
    border-style: none;
    transition: transform .5s ease;
    padding: 1rem;
    border-radius: 50% 10%;
}

button:hover {
    background-color: $red;
    transform: scale(1.1);
    cursor: pointer;
}

table {
    border-spacing: 0;
}

/* nav --------------------------
-----------------------------------*/
nav {
    background: $egg;
    position: relative;
    padding: 1rem 0;
    overflow: hidden;
    .nav-brand {
        font-size: 2em;
        padding-left: 4rem;
        transition: transform .5s ease;
    }
    form {
        // position: absolute;
        // left: 35%;
        float: right;
        button {
            border-radius: 100%;
            height: 1rem;
            width: 1rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }
    .btn {
        padding: .5rem;
        // font-size: .8em;
    }
    .nav-brand:hover {
        transform: scale(1.1);
    }

    .break {
        display: none;
    }
    h1 {
        display: inline;
        float: left;
    }
    a:not(:first-child) {
        float: right;
        text-decoration: none;
        font-size: 1.2em;
        color: black;
        padding: .5rem 1rem;
        transition: transform .5s ease, background-color .5s ease, border-radius .5s ease;
    }

    a:not(:first-child):hover {
        background-color: $beige;
        transform: scale(1.1);
        border-radius: 5px;
    }

    .icon {
        display: none;
    }
}


.page-title {
    margin: 40px auto 30px auto !important;
    text-align: center;
}


// screen less than 600px, hid all links. show link that should open and close top nav (.icon)
@media screen and (max-width: 600px) {
    
    nav {
        a:not(:first-child) {
            display: none;
        }
        a.icon {
            float: right;
            display: block;
            padding-left: 1rem;
        }
    }
}

// "responsive" class is added to topnav with JS when user clicks on icon
@media screen and (max-width: 600px) {
    .topnav.responsive {
        // position: relative;
        .break {
            display: block;
        }
        a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        a {
            float: none;
            display: block;
            text-align: center;
        }
    }
}